.jsdialog_transparentDivs{	
	filter:alpha(opacity=40);	/* Transparency */
	opacity:0.4;	/* Transparency */
	background-color:#AAA;
	z-index:1;
	position:absolute; /* Always needed	*/
}
.jsdialog_contentDiv{
	border:3px solid #000;	
	padding:2px;
	z-index:100;/* Always needed	*/
	position:absolute;	/* Always needed	*/
	background-color:#FFF;	/* White background color for the message */
}
.jsdialog_contentDiv_shadow{
	z-index:90;/* Always needed	- to make it appear below the message */
	position:absolute;	/* Always needed	*/
	background-color:#555;
	filter:alpha(opacity=30);	/* Transparency */
	opacity:0.3;	/* Transparency */	
}
/* CSS for the demo. CSS needed for the scripts are loaded dynamically by the scripts */
#mainContainer{
	width:500px;
	margin:0 auto;
	margin-top:10px;
	border:1px double #000;
	padding:5px;
}
/* Alternative layout for the message box - used by one of the messages */
.jsdialog_contentDiv_error{
	border:3px solid #FFF;	
	padding:2px;
	z-index:100;/* Always needed	*/
	position:absolute;	/* Always needed	*/
	background-color:#F00;	/* White background color for the message */
	color:#FFF;
}
.jsdialog_contentDiv_error a{
	color:#FFF;
}
h1{
	margin-top:0px;
}
/* personalized layout */
.jsdialog_vl{
	border:10px solid #936653;
	padding:20px;
	z-index:100;/* Always needed	*/
	position:absolute;	/* Always needed	*/
	background-color:#FFFFFF;	/* White background color for the message */
	color:#3c3c3c;
}
