

.sm_txt{
	font-weight: bolder;
	font-size: 11px;
}

.rm_item{
	color: red;
}

.add_item{
	color: green;
}

.rm_item,.add_item{
	cursor: pointer;
	font-weight: bold;
	font-size: 11px;
}

.app_sect table{
	border: 0px;
}

.app_sect table td{
	border: 1px solid #EAECEE;
	border-spacing: 0px;
	padding: 5px;
	vertical-align: middle;	
}


.check-boxes label {
    display: block;
    float: left;
    white-space: nowrap;
}
.check-boxes input {
    vertical-align: middle;
}
.check-boxes label span {
    vertical-align: middle;
    padding-right: 3px;
}
