.vl {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #343434;
}
.vls_grey {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
}
.vl_leftborder {
	border-left: 1px solid #E4E4E4;
}
.vl_rightborder {
	border-right: 1px solid #B8AFEC;
}
.vl_link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #004393;
}
.vl_white {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
}
.vl_white_link:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
}
.vl_white_link:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
}
.vl_white_link:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #E2E2E2;
}
.vl_grey {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #777777;
}
.vl_grey_link:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #777777;
}
.vl_grey_link:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #808080;
}
.vl_grey_link:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #999999;
}
.vl_red {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FF0000;
}
.vl_red:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FF0000;
}
.vl_red:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #DF0000;
}
.vl_red:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #F43E3E;
}
.vl_green {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #009900;
}
.vl_green a:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #009900;
}
.vl_green a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #009900;
}
.vl_green a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FF6000;
}
a:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #004393;
	text-decoration: none;
}
a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #0052B3;
	text-decoration: none;
}
a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FF0000;
}
.search {
 height: 20;
 border: 1px solid #787CC7;
 font-size: 12px;
 font-family: Arial, sans-serif;
 color: #343434;
}
.searchLarge {
 height: 50;
 border: 1px solid #787CC7;
 font-size: 12px;
 font-family: Arial, sans-serif;
 color: #343434;
 padding:5px;
}
.button {
	padding-left:8px;
	padding-right: 8px;
	padding-bottom: 8px;
	padding-top:1px;
	border-bottom: 1px solid #777777;
	border-right: 1px solid #777777;
	border-left: 1px solid #d3d3d3;
	border-top: 1px solid #d3d3d3;
	height:22px;
	color: #FFFFFF;
	background-color:#a1a1a1;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	position:relative;
	cursor:pointer;
}
.vl_tableborder {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #623e10;
	border: 1px solid #c0c0c0;
	padding: 2px;
}
.vl_tdmain {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #65659b;
	background-color:#eeeeee;
	padding:5px;
	border-bottom: 1px solid #c1c1d0;
}
.vl_tdmain_withimage {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #65659b;
	border-bottom: 1px solid #c1c1d0;
	padding-left:5px;
	padding-top:5px;
	padding-bottom:5px;
	padding-right: 13px;
	background-color:#eeeeee;
	background-image: url(../../images/table.gif);
	background-repeat: no-repeat;
	background-position: right center;
}
.vl_tdmain_witharrowdown {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #65659b;
	border-bottom: 1px solid #c1c1d0;
	padding-left:5px;
	padding-top:5px;
	padding-bottom:5px;
	padding-right: 13px;
	background-color:#eeeeee;
	background-image: url(../../images/arrow_down.gif);
	background-repeat: no-repeat;
	background-position: right center;
	cursor:pointer;
}
.vl_tdsub {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #6b6b6b;
	background-color:#cbcbcb;
	padding:5px;
	border-bottom: 1px solid #888888;
}
.vl_tdsub_witharrowdown {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #5b5b5b;
	border-bottom: 1px solid #f2ae55;
	padding-left:5px;
	padding-top:5px;
	padding-bottom:5px;
	padding-right: 13px;
	background-color:#d9d9d9;
	background-image: url(../../images/arrow_down.gif);
	background-repeat: no-repeat;
	background-position: right center;
	cursor:default;
}
.vl_tdsub_lessarrowdown {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #b6741d;
	border-bottom: 1px solid #f2ae55;
	padding-left:5px;
	padding-top:5px;
	padding-bottom:5px;
	padding-right: 13px;
	background-repeat: no-repeat;
	background-position: right center;
	cursor:default;
}
.vl_tdnoborder {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #5b5b5b;
	background-color:#fefefe;
	padding:5px;
}
.vl_tdstandard {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #5b5b5b;
	background-color:#fefefe;
	padding:5px;
	border-bottom: 1px solid #aaaaaa;
}
.vl_tdhighlight {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #3a2d3d;
	background-color:#eeeeee;
	padding:5px;
	border-bottom: 1px solid #d3d3e1;
}
.vl_shaddowright {
	background-image:url(../../images/shaddow-right.jpg);
	background-repeat:no-repeat;
	background-position:left top;
}
.vl_shaddowbottom {
	background-image:url(../../images/shaddow-bottom.jpg);
	background-repeat:no-repeat;
	background-position:left;
}
.vl_shaddowbottom_end {
	background-image:url(../../images/shaddow-bottom.jpg);
	background-repeat:no-repeat;
	background-position:right;
}
.vl_error {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 58px;
	color: #ff0000;
	padding-left: 70px;
	padding-top:5px;
	padding-bottom:5px;
	padding-right:5px;
	background-image: url(/admin/images/icons/error.gif);
	background-repeat: no-repeat;
	background-position: left center;
	background-color: #fff5a1;
	border: 1px solid #eaa726;
}
.vl_success {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 58px;
	color: #078415;
	padding-left: 70px;
	padding-top:5px;
	padding-bottom:5px;
	padding-right:5px;
	background-image: url(/admin/images/icons/success.gif);
	background-repeat: no-repeat;
	background-position: left center;
	background-color: #aeffb8;
	border: 1px solid #12ce28;
}
.vl_border {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border: 12px solid #c3c3c3;
}
.tab_active {
	background-image: url(../images/tab_active.gif);
	background-repeat: repeat-x;
	text-align: center;
	margin: 1px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 30px;
	padding-right: 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #E8FAFC;
	font-weight: bold;
	border-top: 1px solid #C4CCCC;
	border-left: 1px solid #C4CCCC;
	border-right: 1px solid #C4CCCC;
}
.tab_active a:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #E8FAFC;
	font-weight: bold;
}
.tab_active a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #E8FAFC;
	font-weight: bold;
}
.tab_active a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bold;
}
.tab_inactive {
	background-image: url(../images/tab_inactive.gif);
	background-repeat: repeat-x;
	text-align: center;
	margin: 1px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 30px;
	padding-right: 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #847BC0;
	font-weight: bold;
	border-top: 1px solid #C4CCCC;
	border-left: 1px solid #C4CCCC;
	border-right: 1px solid #C4CCCC;
}
.tab_inactive a:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #847BC0;
	font-weight: bold;
}
.tab_inactive a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #847BC0;
	font-weight: bold;
}
.tab_inactive a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #664FFF;
	font-weight: bold;
}